# Sistema / OS
.DS_Store
Thumbs.db

# Node (aplica a cualquier paquete)
**/node_modules/
**/dist/
**/build/
**/.parcel-cache/
**/.next/
**/.turbo/
**/.vite/
**/out/
**/.cache/

# pnpm / npm extras
.pnp.*
.npm/
.yarn/*
!.yarn/releases/
!.yarn/plugins/
!.yarn/sdks/
!.yarn/patches/

# TypeScript
*.tsbuildinfo

# Python virtualenvs & caches
**/.venv/
**/venv/
**/.env/
**/.venv*/
**/pip-wheel-metadata/
**/__pycache__/
**/*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.coverage
coverage.xml
htmlcov/
.python-version

# Build artefacts / packaging
dist/
build/
*.egg-info/
*.egg
wheelhouse/

# Environment files
.env
.env.local
.env.*.local

# Editor/IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
*.swp
*~ 

# OS / misc
logs/
*.log

# Secrets / keys (si no los versionas)
*.pem
*.key

# Mac/Windows temp
Icon?
ehthumbs.db